*{
  box-sizing: border-box;
}

body{
  background-color: lightgray;
}

header, footer {
height: 75px;
border: 1px solid grey;
clear: both;
}

.side {
  height: 300px;
  width: 20%;
  float:left;
  border: 1px solid gray;
}

/* .small {
  height: 300px;
  width: 15%;
  float:left;
  border: 1px solid gray;
} */

.large {
  height: 300px;
  width: 40%;
  float:left;
  border: 1px solid gray;
}
